---
const { skillName } = Astro.props;
---

<div class="flex flex-col justify-center items-center text-xs text-center text-white">
    <slot />
    <span class="inline-block mt-1 md:text-base">{skillName}</span>
</div>